.Container {
  height: calc(100vh - 100px);
  background-color: #333232;
  display: flex;
}
.Item {
  flex: 1;
  position: relative;
  display: flex;
}
.Item:last-child {
  flex: 2;
  justify-content: space-between;
  padding: 50px;
}
.Card {
  flex: 1;
  padding: 30px;
}
.Title {
  color: #b7903c;
  font-size: 18px;
}
.Text {
  color: #b2afaf;
}
.Motto {
  color: rgb(211, 211, 211);
}
@media screen and (max-width: 480px) {
  .Container {
    height: auto;
    text-align: center;
  }
  .Item:first-child {
    display: none;
  }
  .Item:last-child {
    flex-direction: column;
  }
  .Motto {
    font-size: 20px;
  }
  .Title {
    font-size: 24px;
  }
}
