.Container {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  cursor: pointer;
}
.Title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}
.Price {
  font-size: 18px;
  color: #444;
}
.Desc {
  text-align: center;
}
